body{
    font: 20px, arial, sans-serif;
}
.navbar {
    background-color: #1b2027;
    
}
.quem-somos{
    background-color: rgb(114, 223, 223);
    color: white;


}
.margin{
    padding-bottom: 50px;
    padding-top: 10px;
}
.parceiros{
    background-color: burlywood;
    color: white;
}
.bg-footer{
    background-color: black;
    color: white;
}