
body{
    font: 20px, arial, sans-serif;
    background-color: #15161B;
    color: #EDEBEB;

}
/*Esse é o menu superior*/
.navbar {
    background-color: #0A0A0A;

}

/*esse são as opções*/
.navbar-light .navbar-nav .nav-link {
    
    color: #EDEBEB;

}
.margin{
    padding-bottom: 50px;
    padding-top: 10px;

}
.parceiros{
    color: white;
}
.bg-footer{
    background-color: #0A0A0A;
    color: white;
    
}